:root {
  --dark-primary-color:#0288D1; /* dark blue */
  --primary-color:#03A9F4; /* light blue */
  --accent-color:#FFBDF6; /* pink */
  --background:#292c33; /* light black*/
}

@font-face {
	font-family: "Debonair JF";
  font-display: swap;
	src: url('fonts/design.jasonwalcott.Debonair JF.ttf');
}

body {
  background-color: var(--background);
}

.menu {
  background-color:var(--background);
  color: white;
}

h4 {
  color:white;
}

.site-name {
  color:var(--primary-color);
  text-decoration: none;
}

.site-name h2 {
  font-family:"Debonair JF";
}

.size-site-name-container {
  width: 285px;
  height: 53px;
}

.reduced-width {
  max-width:1400px;
  margin: 0 auto;
  padding: 0 24px;
}

.dark-section {
  background-color:var(--background);
  color: white;
}

.white-section {
  background-color:white;
  color: black;
}

.headline {
  font-size:4vw;
  color:var(--accent-color);
}

.logo {
  height: 50%;
}

.logo-div{
  transform: translateY(30%);
}

.workinprogress {
  background-color: white;
  width:500px;
  height:500px;
  border-radius: 250px;
  margin-top: 50vh;
  transform: translateY(-50%);
}

.phone_button {
  background-color:var(--primary-color);
  color:black;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
